<div class="comments">
    {{#each this}}
    <div class="card">
        <section class="comment card-body">
            <div class="text">
                {{content}}
            </div>
                ----{{user.name}}, {{format_date created_at}}
            </div>
        </section>
    </div>
    {{/each}}
</div>