<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="user-email">Email:</label>
    <input class="form-input" type="text" id="user-email" />
  </div>
  <div class="form-group">
    <label for="user-email">Password:</label>
    <input class="form-input" type="password" id="user-password" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<a href="/signup">Signup for new Account!</a>

<script src="/js/login.js"></script>